# Ambientes Virtuais e Dependências
.venv/
env/
venv/
*.env
!segredos.example.env
segredos.env

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# LaTeX e Compilação de Documentos
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.nav
*.snm
*.vrb
*.bcf
*.run.xml
*.dvi

# IDE e Sistema Operacional
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini

# Saídas temporárias
outputs/tmp/
*.tmp

*.exe
cloudflared.exe
tunnel_url.txt
